# Python
__pycache__/
*.py[cod]

# Virtual environments
venv/
.venv/
penv/

# Jupyter
.ipynb_checkpoints/

# Environment variables / secrets
.env
.env.*

# Models
*.pt
*.pth
*.ckpt
*.onnx
*.h5
*.keras
*.safetensors
*.bin

# Datasets
data/
dataset/
datasets/

# Training outputs
runs/
Runs/
outputs/
checkpoints/

# Logs
*.log

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Config files
*.yaml

# extra folders
CDD/